*{
    margin: 0;
    padding: 0;
}
body{
background-color: #F1F2F4;
height: auto;
-ms-overflow-style: none;
}
body::-webkit-scrollbar{
display: none;
}
html{
scrollbar-width: none;
}
.navbar-body{
height: 70px;
width: 100%;
}
nav{
width: 100%;
height: 70px;
display: flex;
align-items: center; 
background-color: #fff;
position: fixed;
z-index: 1000;
}
.flipkart-logo{
width: auto;
height: auto;
margin: 25px;
}
.flipkart-logo>a>img{
height: 22px;
width: 130px;
text-decoration: none;
color: #9E9E9E;
}
nav{
background-color: blue;
font-family: sans-serif;
}
i{
color: white;
}
.Cart{
color: white;
float: right;
}
.things-select{
border: none;
}
a{
text-align: center;
}
.flipkart-logo>a>p{
padding-left: 43px;
margin-top: -2px;
font-style: italic;
font-family: 'Inter', sans-serif;
font-size: 12px;
font-weight: 600;
}
.flipkart-logo>a>h4>span>i{
color: #fff200da;
}
.search-bar{
height: 35.5px ;
width: 48%;
border-radius: 10px;
}
.search-bar>button{
width: 100%;
height: 100%;
display: flex;
align-items: center;
background-color: #F0F5FF;
border-style: hidden;
border-radius: 10px;
}
.search-bar>button>.fa-magnifying-glass{
color:#717478; 
font-size: 22px;
padding-left: 15px; 
border-radius: 10px; 
}
.search-bar>button>span{
width: 100%;
height: 100%;
display: flex;
align-items: center;
border-radius: 10px;  
}
.search-bar>button>span>input{
width: 100%;
height: 100%;
padding-left: 15px;
font-size: 17px;
font-weight: 100;
outline: none;
border-radius: 10px;
border-style: hidden;
color: #7D6666;
background-color: #F0F5FF;
}
.profile-heading{
height: 35.5px;
width: 35.5%;
display: grid;
grid-template-columns:37% 23.7% 21.3% 18% ;
margin: 0px 0px 0px 70px; 
}
.profile-heading>div{
height: 100%;
width: 100%;
display: flex;
align-items: center;
}
.profile-heading>div>a{
display: flex;
text-decoration: none;
font-family: 'Inter', sans-serif;
color: #000000;
display: flex;
align-items: center;
}
.profile-heading>div>a>p{
padding-left: 10px;
}
.sign-in{
list-style: none;
}
.sign-in>a{
display: flex;
font-size: 16px;
font-family: 'Inter', sans-serif;
align-items: center;
text-decoration: none;
color: #000000;
}
.sign-in>a>p{
padding-left: 7px;
}
.fa-angle-down{
display: flex;
align-items: center;
padding-left: 5px;
}
.s-bar:hover{
background-color: #2A55E5;
color: #fff;
border-radius: 10px;
}
.sign-in>a:hover{
color: #fff;
}
.sub-menu1{
display: none;
padding-top: 10px;
}
.sub-menu1>ul>li{ 
display: flex;
align-items: center;
line-height: 40px; 
}
.sub-menu1>ul>li:hover{
background-color: #f1f1f1;
}
.s-bar:hover .sub-menu1{
display: block;
position: absolute;
background-color: #fff;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border-radius: 5px;
width: 250px;
height: 260px;
margin-top: 6.1px;
margin-left: -15px;
}
.sub-menu1>ul>li>img{
width: 17px;
padding-left: 15px;
}
.sub-menu1>ul>li>img+a{
font-size: 15px;
text-decoration: none;
padding-left: 15px;
font-family: 'Inter', sans-serif;
color: #000000;
}
.Cart-1{
padding-left: 24px;
}
.Cart-1+p{
font-family: 'Inter', sans-serif;
padding-left: 8px;
}
.Mobile{
height:80px;
width:70px;
}
.threedot-in{
list-style: none;
height: 100%;
padding: 0px 8px ;
margin: auto;
display: flex;
align-items: center;
}
.threedot-in:hover{
background-color: #F3F3F3;
cursor: pointer;
border-radius: 5px;
}
.sub-menu2{
width: 220px;
height: 170px;
background-color: #fff;
display: none;
padding-top: 10px;
}
.threedot-in:hover .sub-menu2{
display: block;
position: absolute;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border-radius: 5px;
margin-top: 207px;
margin-left: -175px; 
}
.sub-menu2>ul>li>img+a{
font-size: 15px;
text-decoration: none;
padding-left: 15px;
font-family: 'Inter', sans-serif;
color: #000000;
}
.sub-menu2>ul>li>img{
width: 17px;
padding-left: 15px;
}
.sub-menu2>ul>li:hover{
background-color: #f1f1f1; 
}
.centered-list {
text-align: center; 
list-style-type: none;
padding: 0; 
}
.centered-list .search-bar {
margin-bottom: 10px;
margin-left: 10px;
}
.centered-list li {
display: inline-block; 
margin-right: 10px;
}
.centered-list li:last-child {
margin-right: 0; 
}

.centered-list input[type="text"] {
padding: 5px; 
width: 200px; 
}
.sub-menu2>ul>li{
display: flex;
align-items: center;
line-height: 40px; 
}
.things{
height: 125px; 
width: 98%;
background-color: #fff;
margin: auto;
margin-top: 8px;
}
.things>.things-2{
height: 100%;
width: 90%;
margin: auto;
align-items: center;
display: grid;
grid-template-columns: repeat(9,1fr);
}
.things-2>div{
text-align: center;
height: auto;
width: auto;
}
.things-ul-1{
list-style: none;
}
.things-list-1>a{
text-decoration: none;
color: #000000;
}
.things-list-2>a{
text-decoration: none;
color: #000000;
}
.things-list-1>a>p{
margin-top: 5px;
font-family: 'Inter', sans-serif;
font-size: 13.1px;
font-weight: 600;
}
.things-ul-2{
list-style: none;
}
.things-list-2>a>p{
color: #000000;
font-size: 13.1px;
font-family: 'Inter', sans-serif;
font-weight: 600;
margin-top: 5px;
}
.count-total-things>ul{
display: none;
list-style: none; 
margin-left: -120px;
line-height: 40px;
height: auto;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 5px;
width: 260px;
}
.count-total-things>ul>li{
display: flex; 
border-radius: 5px;
}
.count-total-things>ul>li>a{
text-decoration: none;
font-family: 'Inter', sans-serif;
font-size: 12px;
color: #000000;
margin-left: 20px;
width: 100%;
}
.things-list-2{
position: relative;
}
.things-list-2>a>p:hover{
color:  #2A55E5;
}
.things-list-2:hover .count-total-things>ul{
position: absolute;
z-index: 1000;
display: block;
background-color: #fff;
box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
text-align: left;
}
.fa-angle-right{
float: right;
padding: 12px; 
}
.count-total-things>ul>li:hover{
background-color: #F0F5FF;
}
.count-total-things>ul>li>a:hover{
background-color: #F0F5FF;
font-weight: bold;
display: block;
border-radius: 5px;
}
.add{
width: 98%;
margin: auto;
margin-top: 15px;
background-color: #fff;
}
.swiper{
width: 100%;
height: fit-content; 
}
.swiper-wrapper>.swiper-slide> img{
width: 100%;
height: fit-content; 
}
.swiper>.swiper-button-prev{
color: rgb(118, 111, 111);
background-color: #fff;
padding: 20px 0px;
margin-left: -11px;
}
.swiper>.swiper-button-next{
color: rgb(118, 111, 111);
background-color: #fff;
font-size: -200px;
padding: 20px 0px;
margin-right: -11px;
}
.main-box-heading{
width: 98%;
margin: auto;
margin-top: 18px;
background-color:#fff;
height: 385px;
}
#main-box-heading-text{
width: 98%;
height: 34px;
padding: 20px 13.5px;
justify-content: space-between; 
}
#main-box-heading-text>a{
width: 100%;
font-size:  22px;
font-weight: 550;
text-decoration: none;
color: #212121;
font-family: 'Inter', sans-serif;
display: flex;
justify-content: space-between;
}
#right-button{
background-color: #1C41D6;
font-size: 20px;
padding: 10px;
border-radius: 20px;
border:2px solid black;
color:white; 
cursor: pointer;
}
.parent-of-six-box{
height: 300px;
width: 98%;
margin: auto;
display: grid;
grid-template-columns: repeat(6,1fr);
gap: 20px;
}
.parent-of-six-box>div{
height: 297px;
width: 100%;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 3px;
cursor: pointer;
text-align: center; 
}
.parent-of-six-box>div>.total-six-box-images{
max-width: 90%;
padding: 15px 0px 0px 0px;
height:53%;
}
.total-six-box-images:hover{
transform: scale(1.1);
z-index: 2;
cursor: pointer; 
}
.total-six-box-images+div{
margin-top: 65px;   
}
.total-six-box-images-name{
padding-bottom: 7px;
font-family: 'Inter', sans-serif;
}
.total-six-box-images-name+b{
font-family: 'Inter', sans-serif;
font-size: 15px;
color: #212121;
}
.total-six-box-images+div>a{
text-decoration: none;
}
